.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgb(255, 255, 255);
    padding: 1em 3em;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.login-container h1 {
    color:rgb(255, 154, 154);
    font-style: italic;
    font-size: 40px;
    margin-bottom: 0.4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-container .input-block {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.login-container .input-block input {
    margin-top: 10px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    height: 48px;
    padding: 0 25px;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
}

.login-container .input-block input::placeholder {
    color: rgb(114, 114, 114);
    font-weight: bold;
}
  
.edit:hover .show:hover {
    box-shadow: 0 2px 4px rgb(0 1 0 / 20%);
}
  
#copy {
    margin-top: 1em;
    background-color: #ffa47a;
    border: none;
    border-radius: 6px;
    font-size: 24px;
    line-height: 45px;
    padding: 5px 45px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#div {
    margin-top: 20px;
    border-bottom: 1px solid rgb(136, 136, 136);
    width: 300px;
}

#forget {
    border: 0;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 104, 104);
}