* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

.flow {
    height: 97%;
    width: 97%;
    max-width: 100vw;
    margin: 10px;
    background: white;
    border: solid .1px;
    border-radius: 4px;
}

.form button {
    border:0;
    padding: 16px 24px;
    font-size: 16px;
    max-width: 360px;
    border-radius: 8px;
    display: flex;
    margin-top: 20px;
    background-color: #34cb79;
    color: white;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    transition: 400ms;
    font-family: monospace;
}

.form button:hover {
    background-color: #2fb86e;
}

.form {
    display: flex;
    flex-direction: column;
    width: 320px;
    background: #FFF;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 4px;
    padding: 30px 20px;
    height: fit-content;
    position: absolute;
    z-index: 99;
    top: 15px;
    left: 15px;
    border: 1px solid #ddd;
}
.form h1 {
    text-align: center;
    margin-bottom: 1em;
}

.form .input-block + .input-block {
    margin-top: 20px;
}

.form .input-group .input-block{
    margin-top: 0;
}

.form .input-block label {
    color: #ACACAC;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    line-height: 24px;
}

.form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #666;
}

.header button {
    border:0;
    padding: 1.2em 3em;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #e63889;
    color: white;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    transition: 400ms;
}