body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.show {
  width: 75px;
  height: 75px;
  border-radius: 20%;
  
  cursor: pointer;
  position: absolute;
  top: 150px;
  right: 37px;
  z-index: 99;
}

.edit {
  width: 75px;
  height: 75px;
  border-radius: 20%;
  
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 99;
}